<div>
    <input type="number" [(ngModel)]="num1">
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 align-items-center">
      <div class="form-check">
        <input  type="radio" name="conversao" value="cmParaMetros" [(ngModel)]="resultado">
        <label>
          Converter cm para metros
        </label>
      </div>
      <div>
        <input type="radio" name="conversao" value="kmParaMetros" [(ngModel)]="resultado">
        <label>
          Converter km para metros
        </label>
      </div>
      <div >
        <input type="radio" name="conversao" value="metrosParaKm" [(ngModel)]="resultado">
        <label>
          Converter metros para km
        </label>
      </div>
      <div>
        <input type="radio" name="conversao" value="metrosParaCm" [(ngModel)]="resultado">
        <label>
          Converter metros para cm
        </label>
      </div>
    </div>
  </div>
</div>



  <div class="result">
    <div *ngIf="resultado === 'cmParaMetros'">
    <p>Resultado: {{num1 / 100}} metros</p>
    </div>
    <div *ngIf="resultado === 'kmParaMetros'">
    <p>Resultado: {{num1 * 1000}} metros</p>
    </div>
    <div *ngIf="resultado === 'metrosParaKm'">
    <p>Resultado: {{num1 / 1000}} km</p>
    </div>
    <div *ngIf="resultado === 'metrosParaCm'">
    <p>Resultado: {{num1 * 100}} centímetros</p>
    </div>
  </div>
  