<div class="container">
    <div class="d-flex justify-content-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="conversor_angular/">Comprimentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="peso">Pesos</a>
        </li>
      </ul>
    </div>

    <div class="row col-12">
        <div class="p-1 border bg-dark d-flex justify-content-center">
          <input type="number" [(ngModel)]="num1">
        </div>
    </div>

    <div class="row col-12">
      <div class="p-1 border bg-light d-flex justify-content-center">
        <input type="radio" name="conversao" value="GramasParaQuilos" [(ngModel)]="resultado" (change)="Gra_To_Qui()">
        <label class="text-center">
             Gramas para Quilos
        </label>
    </div>

    </div>
    
    <div class="row col-12">
      <div class="p-1 border bg-light d-flex justify-content-center">
        <input type="radio" name="conversao" value="GramasParaLibras" [(ngModel)]="resultado" (change)="Gra_To_Li()">
        <label>
          Gramas para Libras
        </label>
      </div>
    </div>

    <div class="row col-12">
      <div class="p-1 border bg-light d-flex justify-content-center">
        <input type="radio" name="conversao" value="QuilosParaGramas" [(ngModel)]="resultado" (change)="Qui_To_Gra()">
        <label>
          Quilos para Gramas
        </label>
      </div>
    </div>

    <div class="row col-12">
      <div class="p-1 border bg-light d-flex justify-content-center">
        <input type="radio" name="conversao" value="QuilosParaLibras" [(ngModel)]="resultado" (change)="Qui_To_Li()">
        <label>
          Quilos para Libras
        </label>
      </div>
    </div>

    <div class="row col-12">
        <div class="p-1 border bg-light d-flex justify-content-center">
          <input type="radio" name="conversao" value="LibrasParaGramas" [(ngModel)]="resultado" (change)="Li_To_Gra()">
          <label>
            Libras para Gramas
          </label>
        </div>
    </div>
    
    <div class="row col-12">
        <div class="p-1 border bg-light d-flex justify-content-center">
          <input type="radio" name="conversao" value="LibrasParaQuilos" [(ngModel)]="resultado" (change)="Li_To_Qui()">
          <label>
            Libras para Quilos
          </label>
        </div>
    </div>

    <div class="result_peso">
        <div class="d-flex justify-content-center">
          <div *ngIf="resultado === 'GramasParaQuilos'">
          <p class="alert alert-success">Resultado: {{(GraQui).toFixed(2)}} Kg</p>
          </div>
          <div *ngIf="resultado === 'GramasParaLibras'">
          <p class="alert alert-success">Resultado: {{(GraLi).toFixed(2)}} Libras</p>
          </div>
          <div *ngIf="resultado === 'QuilosParaGramas'">
          <p class="alert alert-success">Resultado: {{(QuiGra).toFixed(2)}} Gramas</p>
          </div>
          <div *ngIf="resultado === 'QuilosParaLibras'">
          <p class="alert alert-success">Resultado: {{(QuiLi).toFixed(2)}} Libras</p>
          </div>
          <div *ngIf="resultado === 'LibrasParaGramas'">
          <p class="alert alert-success">Resultado: {{(LiGra).toFixed(2)}} Gramas</p>
          </div>
          <div *ngIf="resultado === 'LibrasParaQuilos'">
          <p class="alert alert-success">Resultado: {{(LiQui).toFixed(2)}} Kg</p>
          </div>
        </div>
      </div>